<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BD2</title>
</head>

<body>
    <div class="container">
            <div class="col-md-5">
                    <div class="card">
                        <form action="/edit/<%= editclient.Id %>" method="POST">
                            <div class="form-group">
                                <input type="text" name="Id" placeholder="Identificacion" class="form-control"
                                    value=" <%= editclient.Id %>">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Nombre" placeholder="Nombres" class="form-control"
                                    value=" <%= editclient.Nombre %>">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Direccion" placeholder="Direccion" class="form-control"
                                    value=" <%= editclient.Direccion %>">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Telefono" placeholder="Telefono" class="form-control"
                                    value=" <%= editclient.Telefono %>">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Update
                            </button>
                        </form>
                    </div>
    </div>
    
</body>

</html>