<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BD2</title>
</head>


<body>
    <% include ./nav%>
    <div class="container">
        <div class="col-md-5">
            <div class="card">
                <form action="" method="POST">

                    <div class="form-group">
                        <input type="text" readonly="readonly" name="id_cliente" placeholder="IDentificacion" class="form-control" value ="<%= Rcarro.id_placa%>">
                    </div>
                    <div class="form-group">
                        <input type="text" readonly="readonly" name="nombre_cliente" placeholder="NOMBRES" class="form-control" value="<%= Rcarro.marca%>">
                    </div>
                    <div class="form-group">
                        <input type="text" readonly="readonly" name="direccion" placeholder="" class="form-control" value ="<%= Rcarro.modelo%>">
                    </div>
                    <div class="form-group">
                        <input type="text" readonly="readonly" name="telefono" placeholder="" class="form-control" value="<%= Rcarro.color%>">
                    </div>
                    <div class="form-group">
                        <input type="text" readonly="readonly" name="id_placa" placeholder="" class="form-control" value="<%= Rcarro.valor%>"> 
                    </div>
                    <div class="form-group">
                        <input type="text" readonly="readonly" name="marca" placeholder="" class="form-control" value="<%= Rcarro.nom_pais%>">
                    </div>
                    <div class="form-group">
                        <input type="text" readonly="readonly" name="modelo" placeholder="" class="form-control" value="<%= Rcarro.id_cliente%>">
                    </div>
                    <div class="form-group">
                        <input type="text"  name="color" placeholder="IDENTIFICACION DEL COMPRADO" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text"  name="valor" placeholder="NOMBRES COMPRADOR" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text"  name="nom_pais" placeholder="PRECIO DE COMPRA" class="form-control" value="">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Update
                    </button>
                </form>
            </div>
        </div>

</body>

</html>